{% extends theme_path ~ "/template-base.twig" %}

{% block head %}
    <link href="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.js"></script>
{% endblock %}

{% block content %}
    <main id="main" role="main" class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{ pageTitle }}: {{ problem.name }} ({{ problem.id }})</h1>
            </div>

            <div class="row row-cards">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Envíos</div>
                            <div class="display-4 font-weight-bold mb-4">{{ problem.totalSubs | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Aceptados</div>
                            <div class="display-4 font-weight-bold mb-4">{{ problem.totalAC | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Fallidos</div>
                            <div class="display-4 font-weight-bold mb-4">{{ (
                                problem.totalPE +
                                problem.totalWA +
                                problem.totalTL +
                                problem.totalML +
                                problem.totalOL +
                                problem.totalRF +
                                problem.totalRTE+
                                problem.totalCE +
                                problem.totalIR ) | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <span><bold> VER: </bold></span>
                </div>
                <div class="col-sm-2">
                    <select>
                        <option>Todo el curso</option>
                        <option>Tema 1</option>
                        <option>Tema 2</option>
                    </select>
                </div>
            </div>
            <!-- PONER UNA BARRA CON ACEPTADOS % Y TIPOS DE FALLIDOS %
            div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                <thead>
                                <tr>
                                    <th>Prefijo</th>
                                    <th>Tipo de error</th>
                                    <th class="text-left">Total de ocurrencias</th>
                                    <th class="text-center">Ocurrencias / Totales</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for submissionError in submissionErrorsTable %}
                                    <tr>
                                        <td>{{ submissionError.status }}</td>
                                        <td>{{ submissionError.name }}</td>
                                        <td class="text-left">{{ submissionError.totals }}</td>
                                        <td>
                                            <div class="progress progress-sm">
                                                {% set errorPercent = ((submissionError.totals / problem.totalSubs) * 100) %}

                                                <div class="progress-bar bg-cyan-light"
                                                        style="width: {{ errorPercent | number_format(0, ',', '.') }}%">{{ errorPercent | number_format(2, ',', '.') }}%</div>
                                            </div>
                                            <div class="small text-muted text-center">{{ submissionError.totals }} / {{ problem.totalSubs }}</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div-->

            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Últimos envíos</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-striped table-vcenter">
                                <thead>
                                <tr>
                                    <th colspan="2">Usuario</th>
                                    <th>Email</th>
                                    <th class="text-center">Resultado</th>
                                    <th>Aciertos / Envíos</th>
                                    <th>Fecha envío</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set face = 0 %}
                                {% for attempt in lastAttempts %}
                                    {% set face = face + 1 %}
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar"
                                            style="background-image: url({{ twg_func( 'base_url' ) }}assets/images/demo/faces/{{ face }}.jpg)"></span>
                                    </td>
                                    <td>
                                        <div>
                                            <a title="{{ attempt.first_name }}"
                                                href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                {{ attempt.first_name }} {{ attempt.last_name }}
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a title="{{ attempt.email }}"
                                               href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                {{ attempt.email }}
                                            </a>
                                        </div>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <span class="badge badge-{{ attempt.lastAttempt == 'AC' ? 'success' : 'danger' }}">
                                            {{ attempt.lastAttempt }}
                                        </span>
                                    </td>
                                    <td>
                                        <div class="progress progress-sm">
                                            {% set percent = attempt.attempts == 0 ? 0 : ((attempt.accepted / attempt.attempts) * 100) %}
                                            <div class="progress-bar bg-cyan-light"
                                                    style="width: {{ percent | number_format(0, ',', '.') }}%">{{ percent | number_format(2, ',', '.') }}%</div>
                                        </div>
                                        <div class="small text-muted text-center">{{ attempt.accepted }}/{{ attempt.attempts }}</div>
                                    </td>
                                    <td class="text-nowrap">
                                        {{ attempt.last_date_attempt | date("d/m/Y H:i:s") }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cards row-deck">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Evolución de envíos</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-bar-attempsEvolution" style="height: 16rem; max-height: 256px; position: relative;" class="c3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ranking usuarios</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Usuario</th>
                                        <th>Email</th>
                                        <th class="text-center">AC / Envíos</th>
                                        <th class="text-center">AC / Fallidos</th>
                                        <th>Fecha último envío</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for problem in problems %}
                                        <tr>
                                            <td class="w-1">
                                                <span class="avatar" style="background-image: url({{ twg_func( 'base_url' ) }}assets/images/demo/faces/{{ face }}.jpg)"></span>
                                            </td>
                                            <td>
                                                <div>
                                                    <a title="{{ attempt.first_name }}"
                                                       href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                        {{ attempt.first_name }} {{ attempt.last_name }}
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a title="{{ attempt.email }}"
                                                       href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                        {{ attempt.email }}
                                                    </a>
                                                </div>
                                            </td>

                                            <td>
                                                <a title="{{ problem.name }}"
                                                   href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-cyan-light"
                                                             style="width: {{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(0, ',', '.') }}%">{{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(2, ',', '.') }}%</div>
                                                    </div>
                                                    <div class="small text-muted text-center">{{ problem.totalAC }} / {{ problem.totalSubs }}</div>
                                                </a>
                                            </td>

                                            <td>
                                                <a title="{{ problem.name }}"
                                                   href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-cyan-light"
                                                             style="width: {{ ((problem.totalDACU / problem.totalDistinctUsers) * 100) | number_format(0, ',', '.') }}%">{{ ((problem.totalAC / (totalProblemsAttempts - totalAccepted) | number_format(0, ',', '.')) * 100) | number_format(2, ',', '.') }}%</div>
                                                    </div>
                                                    <div class="small text-muted text-center">{{ problem.totalAc }} / {{ (totalProblemsAttempts - totalAccepted) }}</div>
                                                </a>
                                            </td>

                                            <td class="text-nowrap">
                                                {{ attempt.last_date_attempt | date("d/m/Y H:i:s") }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <script>
        require(['c3', 'jquery'], function(c3, $) {
            $(document).ready(function(){
                let programmingLanguages = {{ programmingLanguages | json_encode | raw }},
                    submissionErrors = {{ submissionErrors | json_encode | raw }},
                    acceptedCountries = {{ acceptedByCountry | json_encode | raw }},
                    dataLanguages = [],
                    dataErrors = [],
                    dataCountries = [];

                programmingLanguages.map(function (language) {
                    dataLanguages.push([ language.language, language.totals]);
                });

                submissionErrors.map(function (userError) {
                    dataErrors.push([ userError.status, userError.totals]);
                });

                acceptedCountries.map(function (country) {
                    dataCountries.push([ country.country_id, country.accepted]);
                } );

                let chartErrors = c3.generate({
                    bindto: '#chart-pie-errors', // id of chart wrapper
                    data: {
                        columns: dataErrors,
                        type: 'pie', // default type of chart
                        colors: {
                            'data1': tabler.colors["blue-darker"],
                            'data2': tabler.colors["blue"],
                            'data3': tabler.colors["blue-light"],
                            'data4': tabler.colors["blue-lighter"]
                        },
                        names: {}
                    },
                    axis: {},
                    legend: {
                        show: true,
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });
            });
        });
    </script>
{% endblock %}
