{% extends theme_path ~ "/template-base.twig" %}

{% block head %}
	<!-- Head block -->
{% endblock %}

{% block content %}
	<main id="main" role="main" class="my-3 my-md-5">
		<div class="container">
            <div class="page-header">
                <h1 class="page-title">Home</h1>
			</div>

            <div class="card">
                <div class="card-body">
                    <div class="text-wrap pt-lg-2 pb-lg-6 pl-lg-6 pr-lg-6">
                        <h2 class="mt-0 mb-4">{{ pageTitle }}</h2>
                        <p>Los problemas están organizados por categorías para facilitar su búsqueda. Hay diferentes "ejes" de categorización, mostrados a continuación.</p>
                        <p>Se debe tener en cuenta que un mismo problema puede pertenecer a más de una categoría simultáneamente. Por tanto, la suma total del número de problemas de las categorías podría ser mayor que el número de problemas distintos disponibles.</p>
                    </div>
                </div>
            </div>

			<div class="row row-cards row-deck">
				<div class="col-12">
					<div class="card">
						<div class="table-responsive">
							<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
								<thead>
									<th>Nombre</th>
									<th>Descripción</th>
									<th>Número de problemas</th>
									<th>Total AC</th>
								</thead>
								<tbody>
                                {% for category in categories %}
									<tr>
										<td><a href="{{ twg_func( 'base_url') }}subcategory/getSubcategory/{{ category.id }}" title="{{ category.name }}">{{ category.name }}</a></td>
										<td><a href="{{ twg_func( 'base_url') }}subcategory/getSubcategory/{{ category.id }}" title="{{ category.name }}">{{ category.description }}</a></td>
										<td>{{ category.numOfProblems }}</td>
										<td>{{ category.totalAC }}</td>
									</tr>
                                {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
{% endblock %}
