{% extends theme_path ~ "/template-base.twig" %}

{% block head %}
    <link href="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.js"></script>
{% endblock %}

{% block content %}
    <main id="main" role="main" class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{ pageTitle }}: {{ userName }}</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Perfil completo:</h3>
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nombre</label>
                                        <input class="form-control" placeholder="Nombre" value="{{ userDetails.first_name ?: 'Desconocido' }}" type="text" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Apellidos</label>
                                        <input class="form-control" placeholder="Apellidos" value="{{ userDetails.last_name ?: 'Desconocido' }}" type="text" readonly>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Institución</label>
                                        <input class="form-control" disabled="" placeholder="Institución" value="{{ userDetails.institution_id ?: 'Desconocida' }}" type="text" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">País</label>
                                        <input class="form-control" placeholder="Email" type="email" value="{{ userDetails.country_id ?: 'Desconocido' }}" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input class="form-control" placeholder="Email" type="email" value="{{ userDetails.email }}" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Fecha de registro</label>
                                        <input class="form-control" placeholder="Registro" value="{{ userDetails.registrationDate | date("d/m/Y") }}" type="text" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Listado de problemas</h4>
                            <div class="card-options">
                                <form action="">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm" placeholder="Buscar problema..."
                                                name="s" type="text">
                                        <span class="input-group-btn ml-2">
                                            <button class="btn btn-sm btn-default" type="submit">
                                              <span class="fe fe-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table card-table table-striped table-vcenter">
                                <thead>
                                <tr>
                                    <th>ID Problema</th>
                                    <th>Problema</th>
                                    <th>Aciertos / Intentos</th>
                                    <th>Lenguajes</th>
                                    <th>Última fecha de envío</th>
                                    <th class="text-center">Último estado</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for attempt in lastAttempts %}
                                <tr>
                                    <td><a href="{{ twg_func( 'base_url') }}problem/id/{{ attempt.problem_id }}"
                                                title="{{ attempt.problem_name ?: 'Nombre de problema desconocido' }}">{{ attempt.problem_id }}</a></td>
                                    <td><a href="{{ twg_func( 'base_url') }}problem/id/{{ attempt.problem_id }}"
                                                title="{{ attempt.problem_name ?: 'Nombre de problema desconocido' }}">{{ attempt.problem_name ?: 'Nombre de problema desconocido' }}</a></td>
                                    <td>
                                        <div class="progress progress-sm">
                                            {% set percent = attempt.totalAttempts == 0 ? 0 : ((attempt.totalAC / attempt.totalAttempts) * 100) %}
                                            <div class="progress-bar bg-cyan-light"
                                                    style="width: {{ percent | number_format(0, ',', '.') }}%">{{ percent | number_format(2, ',', '.') }}%</div>
                                        </div>
                                        <div class="small text-muted text-center">{{ attempt.totalAC }}/{{ attempt.totalAttempts }}</div>
                                    </td>
                                    <td class="text-nowrap">
                                        {% for language in attempt.languages | split(',') %}
                                            {% if language == 'JAV' %}
                                                {% set color = 'success' %}
                                            {%  elseif language == 'CPP' %}
                                                {% set color = 'warning' %}
                                            {%  elseif language == 'C' %}
                                                {% set color = 'danger' %}
                                            {%  endif %}
                                            <span class="badge badge-{{ color }}">{{ language }}</span>
                                        {% endfor %}
                                    </td>
                                    <td class="text-nowrap">{{ attempt.last_date_attempt | date("d/m/Y H:i:s") }}</td>
                                    <td class="text-nowrap text-center"><span class="badge badge-{{ attempt.lastAttempt == 'AC' ? 'success' : 'danger' }}">{{ attempt.lastAttempt }}</span></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
