{% extends theme_path ~ "/template-base.twig" %}

{% block head %}
    <link href="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.js"></script>
{% endblock %}

{% block content %}
    <main id="main" role="main" class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{ pageTitle }}</h1>
            </div>

            <div class="row row-cards">
                <div class="col-12">
                    <form action="{{ twg_func( 'base_url' ) }}teachers" method="POST" class="card">
                        <div class="card-header">
                            <h3 class="card-title">Selección de Grupo Educativo dentro de la UCM:</h3>
                        </div>
                        <div class="card-body institution-frame" style="background-image: url({{ twg_func( 'assets_url') }}/images/demo/institutions/UCM.png)">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label"><span class="tag tag-teal">1</span> Elija la asignatura:</label>
                                        <select name="subject" id="select-subject" class="form-control custom-select">
                                            {% for subject in subjects %}
                                                <option value="{{ subject.id }}">{{ subject.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-sm-9 mb-sm-7">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label"><span class="tag tag-teal">2</span> Elija el grupo:</label>
                                        <select name="group" id="select-group" class="form-control custom-select">
                                            {% for group in groups %}
                                                <option value="{{ group.id }}">{{ group.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary ml-auto">ACCEDER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
