{% extends theme_path ~ "/template-base.twig" %}

{% block head %}
    <link href="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="{{ twg_func( "base_url") }}assets/plugins/charts-c3/plugin.js"></script>
{% endblock %}

{% block content %}
    <div id="main" role="main" class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{ pageTitle }}</h1>
            </div>

            <div class="alert alert-danger">
                {{ problem.totalIR | number_format(0, ',', '.') }}
                <span>internal errors</span>
            </div>

            <div class="alert alert-warning">
                //falta el nº
                <span>nuevos usuarios en los últimos 7 días (si hay)</span>
            </div>

            <div class="row row-cards">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Usuarios totales</div>
                            <div class="display-4 font-weight-bold mb-4">{{ totalUsers | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Países participantes</div>
                            <div class="display-4 font-weight-bold mb-4">{{ totalCountries | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Problemas totales</div>
                            <div class="display-4 font-weight-bold mb-4">{{ totalProblemsSum | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h5">Total intentados</div>
                            <div class="display-4 font-weight-bold mb-4">{{ totalProblemsAttempts | number_format(0, ',', '.') }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lenguajes de programación</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-pie-languages" class="c3 text-center"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Aceptados</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-pie-accepted" class="c3 text-center"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Fallidos</h3>
                        </div>
                        <div class="card-body">
                            <div id="chart-pie-errors" class="c3 text-center"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards row-deck">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Países participantes</h4>
                        </div>
                        <div class="card-body">
                            <div class="map">
                                <!--MOSTRAR TODOS LOS PAISES QUE TIENEN PARTICIPANTES-->
                                <div class="map-content" id="map-world-svg"></div>
                            </div>
                        </div>
                        <!--FALTAN PORCENTAJES EN EL TOOLTIP DEL MAPA CON EL Nº COGERLO DE AHI
                            {% for country in countriesStats %}
                                <tr>
                                    <td class="text-right"><span class="text-muted">{{ (country.totalUsers / totalUsers * 100) | number_format(2, ',', '.') }}%</span></td>
                                </tr>
                            {% endfor %}
                        </-->
                    </div>
                </div>
            </div>

            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Últimos envíos</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                <thead>
                                <tr>
                                    <th colspan="2">Usuario</th>
                                    <th>Email</th>
                                    <th>Nombre del problema (ID)</th>
                                    <th>Resultado</th>
                                    <th>Lenguaje</th>
                                    <th class="text-center">AC / Envíos</th>
                                    <th class="text-center">AC / Usuarios</th>
                                    <th>Fecha envío</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for problem in problems %}
                                <tr>
                                    <td class="w-1">
                                        <span class="avatar" style="background-image: url({{ twg_func( 'base_url' ) }}assets/images/demo/faces/{{ face }}.jpg)"></span>
                                    </td>
                                    <td>
                                        <div>
                                            <a title="{{ attempt.first_name }}"
                                               href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                {{ attempt.first_name }} {{ attempt.last_name }}
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a title="{{ attempt.email }}"
                                               href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                {{ attempt.email }}
                                            </a>
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <a title="{{ problem.name }}"
                                                    href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                {{ problem.name ?: 'Problema desconocido' }} ({{ problem.internalId }})
                                            </a>
                                        </div>
                                        <div class="small text-muted">
                                            Propuesto desde: {{ problem.publicationDate | date("d/m/Y") }}
                                        </div>
                                    </td>

                                    <td class="text-nowrap text-center">
                                        <span class="badge badge-{{ attempt.lastAttempt == 'AC' ? 'success' : 'danger' }}">
                                            {{ attempt.lastAttempt }}
                                        </span>
                                    </td>

                                    <td class="text-nowrap">
                                        {% for language in attempt.languages | split(',') %}
                                            {% if language == 'JAV' %}
                                                {% set color = 'success' %}
                                            {%  elseif language == 'CPP' %}
                                                {% set color = 'warning' %}
                                            {%  elseif language == 'C' %}
                                                {% set color = 'danger' %}
                                            {%  endif %}
                                            <span class="badge badge-{{ color }}">{{ language }}</span>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a title="{{ problem.name }}"
                                                href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-cyan-light" style="width: {{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(0, ',', '.') }}%">
                                                    {{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(2, ',', '.') }}%
                                                </div>
                                            </div>
                                            <div class="small text-muted text-center">
                                                {{ problem.totalAC }} / {{ problem.totalSubs }}
                                            </div>
                                        </a>
                                    </td>

                                    <td>
                                        <a title="{{ problem.name }}" href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-cyan-light" style="width: {{ ((problem.totalDACU / problem.totalDistinctUsers) * 100) | number_format(0, ',', '.') }}%">
                                                    {{ ((problem.totalDACU / problem.totalDistinctUsers) * 100) | number_format(2, ',', '.') }}%
                                                </div>
                                            </div>
                                            <div class="small text-muted text-center">
                                                {{ problem.totalDACU }} / {{ problem.totalDistinctUsers }}
                                            </div>
                                        </a>
                                    </td>

                                    <td class="text-nowrap">
                                        {{ attempt.last_date_attempt | date("d/m/Y H:i:s") }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards row-deck">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Evolución de envíos</h4>
                        </div>
                        <div class="card-body">
                            <div id="chart-bar-attempsEvolution" style="height: 16rem; max-height: 256px; position: relative;" class="c3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Problemas intentados</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <span class="tag tag-gray-dark">101</span>
                                <span class="tag tag-gray-dark">102</span>
                                <span class="tag tag-gray">103</span>
                                <span class="tag tag-gray">104</span>
                                <span class="tag tag-gray-dark">105</span>
                                <span class="tag tag-gray-dark">106</span>
                                <span class="tag tag-gray">107</span>
                                <span class="tag tag-gray-dark">108</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ranking problemas</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                    <thead>
                                    <tr>
                                        <th>Problema (ID)</th>
                                        <th>Último veredicto</th>
                                        <th>Lenguaje/s</th>
                                        <th class="text-center">AC / Envíos</th>
                                        <th class="text-center">AC / Usuarios</th>
                                        <th>Fecha último envío</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for problem in problems %}
                                        <tr>
                                            <td>
                                                <div>
                                                    <a title="{{ problem.name }}"
                                                        href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                        {{ problem.name ?: 'Problema desconocido' }} ({{ problem.internalId }})
                                                    </a>
                                                </div>
                                                <div class="small text-muted">
                                                    Propuesto desde: {{ problem.publicationDate | date("d/m/Y") }}
                                                </div>
                                            </td>

                                            <td class="text-nowrap text-center">
                                                <span class="badge badge-{{ attempt.lastAttempt == 'AC' ? 'success' : 'danger' }}">
                                                    {{ attempt.lastAttempt }}
                                                </span>
                                            </td>

                                            <td class="text-nowrap">
                                                {% for language in attempt.languages | split(',') %}
                                                    {% if language == 'JAV' %}
                                                        {% set color = 'success' %}
                                                    {%  elseif language == 'CPP' %}
                                                        {% set color = 'warning' %}
                                                    {%  elseif language == 'C' %}
                                                        {% set color = 'danger' %}
                                                    {%  endif %}
                                                    <span class="badge badge-{{ color }}">{{ language }}</span>
                                                {% endfor %}
                                            </td>

                                            <td>
                                                <a title="{{ problem.name }}"
                                                   href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-cyan-light"
                                                             style="width: {{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(0, ',', '.') }}%">{{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(2, ',', '.') }}%
                                                        </div>
                                                    </div>
                                                    <div class="small text-muted text-center">
                                                        {{ problem.totalAC }} / {{ problem.totalSubs }}
                                                    </div>
                                                </a>
                                            </td>

                                            <td>
                                                <a title="{{ problem.name }}"
                                                   href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-cyan-light" style="width: {{ ((problem.totalDACU / problem.totalDistinctUsers) * 100) | number_format(0, ',', '.') }}%">
                                                            {{ ((problem.totalDACU / problem.totalDistinctUsers) * 100) | number_format(2, ',', '.') }}%
                                                        </div>
                                                    </div>
                                                    <div class="small text-muted text-center">{{ problem.totalDACU }} / {{ problem.totalDistinctUsers }}</div>
                                                </a>
                                            </td>

                                            <td class="text-nowrap">
                                                {{ attempt.last_date_attempt | date("d/m/Y H:i:s") }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Ranking usuarios</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Usuario</th>
                                        <th>Email</th>
                                        <th>Lenguaje</th>
                                        <th class="text-center">AC / Envíos</th>
                                        <th class="text-center">AC / Fallidos</th>
                                        <th>Fecha último envío</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for problem in problems %}
                                        <tr>
                                            <td class="w-1">
                                                <span class="avatar" style="background-image: url({{ twg_func( 'base_url' ) }}assets/images/demo/faces/{{ face }}.jpg)"></span>
                                            </td>
                                            <td>
                                                <div>
                                                    <a title="{{ attempt.first_name }}"
                                                       href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                        {{ attempt.first_name }} {{ attempt.last_name }}
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a title="{{ attempt.email }}"
                                                       href="{{ twg_func( 'base_url') }}users/id/{{ attempt.id }}">
                                                        {{ attempt.email }}
                                                    </a>
                                                </div>
                                            </td>

                                            <td class="text-nowrap">
                                                {% for language in attempt.languages | split(',') %}
                                                    {% if language == 'JAV' %}
                                                        {% set color = 'success' %}
                                                    {%  elseif language == 'CPP' %}
                                                        {% set color = 'warning' %}
                                                    {%  elseif language == 'C' %}
                                                        {% set color = 'danger' %}
                                                    {%  endif %}
                                                    <span class="badge badge-{{ color }}">{{ language }}</span>
                                                {% endfor %}
                                            </td>

                                            <td>
                                                <a title="{{ problem.name }}"
                                                   href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-cyan-light" style="width: {{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(0, ',', '.') }}%">
                                                            {{ ((problem.totalAC / problem.totalSubs) * 100) | number_format(2, ',', '.') }}%
                                                        </div>
                                                    </div>
                                                    <div class="small text-muted text-center">{{ problem.totalAC }} / {{ problem.totalSubs }}</div>
                                                </a>
                                            </td>

                                            <td>
                                                <a title="{{ problem.name }}"
                                                   href="{{ twg_func( 'base_url') }}problem/id/{{ problem.internalId }}">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-cyan-light"
                                                             style="width: {{ ((problem.totalDACU / problem.totalDistinctUsers) * 100) | number_format(0, ',', '.') }}%">{{ ((problem.totalAC / (totalProblemsAttempts - totalAccepted) | number_format(0, ',', '.')) * 100) | number_format(2, ',', '.') }}%</div>
                                                    </div>
                                                    <div class="small text-muted text-center">
                                                        {{ problem.totalAc }} / {{ (totalProblemsAttempts - totalAccepted) }}
                                                    </div>
                                                </a>
                                            </td>

                                            <td class="text-nowrap">
                                                {{ attempt.last_date_attempt | date("d/m/Y H:i:s") }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        require(['jquery', 'vector-map', 'vector-map-world'], function(){
            $(document).ready(function(){
                let dataRaw = {{ countriesStats | json_encode | raw }},
                    data = {};

                dataRaw.map(function (item) {
                    data[item.id] = item.totalUsers;
                });


                $('#map-world-svg').vectorMap({
                    map: 'world_mill',
                    zoomButtons : false,
                    zoomOnScroll: false,
                    panOnDrag: false,
                    backgroundColor: 'transparent',
                    markers: false,
                    markerStyle: {
                        initial: {
                            fill: tabler.colors.blue,
                            stroke: '#fff',
                            "stroke-width": 1,
                            r: 5
                        },
                    },
                    onRegionTipShow: function(e, el, code, f){
                        el.html(el.html() + (data[code] ? ': <small>' + data[code]+'</small>' : ''));
                    },
                    series: {
                        regions: [{
                            values: data,
                            scale: ['#EFF3F6', tabler.colors.blue],
                            normalizeFunction: 'polynomial'
                        }]
                    },
                    regionStyle: {
                        initial: {
                            fill: '#F4F4F4'
                        }
                    }
                });
            });
        });
    </script>
    <script>
        require(['c3', 'jquery'], function(c3, $) {
            $(document).ready(function(){
                let programmingLanguages = {{ programmingLanguages | json_encode | raw }},
                    submissionErrors = {{ submissionErrors | json_encode | raw }},
                    dataLanguages = [],
                    dataErrors = [],
                    dataAttemps = [],
                    dataAccepted = [
                        ['Aceptados', {{ totalAccepted }}],
                        ['Fallidos', {{ totalProblemsAttempts - totalAccepted }}]
                    ];

                programmingLanguages.map(function (language) {
                    dataLanguages.push([ language.language, language.totals]);
                });

                submissionErrors.map(function (userError) {
                    dataErrors.push([ userError.status, userError.totals]);
                });

                let chartLanguages = c3.generate({
                    bindto: '#chart-pie-languages', // id of languages chart wrapper
                    data: {
                        columns: dataLanguages,
                        type: 'pie', // default type of chart
                        colors: {
                            'data1': tabler.colors["blue-darker"],
                            'data2': tabler.colors["blue"],
                            'data3': tabler.colors["blue-light"],
                            'data4': tabler.colors["blue-lighter"]
                        },
                        names: {}
                    },
                    axis: {},
                    legend: {
                        show: true,
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });

                let chartAccepted = c3.generate({
                    bindto: '#chart-pie-accepted', // id of accepted chart wrapper
                    data: {
                        columns: dataAccepted,
                        type: 'donut', // default type of chart
                        colors: {
                            'data1': tabler.colors["blue-darker"],
                            'data2': tabler.colors["blue"],
                            'data3': tabler.colors["blue-light"],
                            'data4': tabler.colors["blue-lighter"]
                        },
                        names: {}
                    },
                    axis: {},
                    legend: {
                        show: true,
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });

                let chartErrors = c3.generate({
                    bindto: '#chart-pie-errors', // id of error chart wrapper
                    data: {
                        columns: dataErrors,
                        type: 'pie', // default type of chart
                        colors: {
                            'data1': tabler.colors["blue-darker"],
                            'data2': tabler.colors["blue"],
                            'data3': tabler.colors["blue-light"],
                            'data4': tabler.colors["blue-lighter"]
                        },
                        names: {}
                    },
                    axis: {},
                    legend: {
                        show: true,
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });
                let chartattempsEvolution = c3.generate({
                    bindto: '#chart-bar-attempsEvolution', // id of attemps evolution chart wrapper
                    data: {
                        columns: ['data1', 7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],//dataAttemps,
                        type: 'bar', // default type of chart
                        colors: {
                            'data1': tabler.colors["blue"]
                        },
                        names: {}
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: ['Sept', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
                        },
                    },
                    padding: {
                        bottom: 0,
                        top: 0
                    },
                });
            });
        });
    </script>
{% endblock %}
