{% extends theme_path ~ "/template-base.twig" %}

{% block head %}
    <!-- Head block -->
{% endblock %}

{% block content %}
    <main id="main" role="main" class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{ pageTitle }}</h1>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="text-wrap pt-lg-2 pb-lg-6 pl-lg-6 pr-lg-6">
                        <h2 class="mt-0 mb-4">{{ categoryDetails.name ?: 'Nombre de subcategoría desconocido' }}</h2>
                        <p>{{ categoryDetails.description ?: 'No tenemos descripción para esta subcategoría' }}</p>
                    </div>
                </div>
            </div>

            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                <thead>
                                    <th>Problema(ID)</th>
                                    <th>Envíos/ Usuarios</th>
                                    <th>AC únicos</th>
                                    <th>Envíos</th>
                                    <th>AC / Envíos totales</th>
                                    <th>AC / Usuarios únicos</th>
                                </thead>
                                <tbody>
                                {% for problem in problems %}
                                    <tr>
                                        <td><a href="{{ twg_func( 'base_url') }}problem/getProblem/{{ problem.internalId }}"
                                                    title="">{{ problem.title ?: 'Nombre de problema desconocido' }}({{ problem.internalId }})</a></td>
                                        <td><div class="progress progress-sm">
                                                <div class="progress-bar bg-cyan-light" style="width: {{ problem.AC2 }}%">{{ problem.AC2 }}%</div>
                                            </div>
                                            <div class="text-center">{{ problem.totalSubs }} / {{ problem.totalDistinctUsers }}</div>
                                        </td>
                                        <td>
                                            <div class="text-center">{{ problem.totalAC }}</div>
                                        </td>
                                        <td>
                                            <div class="text-center">{{ problem.totalSubs }}</div>
                                        </td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-cyan-light" style="width: {{ problem.AC1 }}%">{{ problem.AC1 }}%</div>
                                            </div>
                                            <div class="text-center">{{ problem.totalAC }} / {{ problem.totalSubs }}</div>
                                        </td>
                                        <td>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-cyan-light" style="width: {{ problem.AC2 }}%">{{ problem.AC2 }}%</div>
                                            </div>
                                            <div class="text-center">{{ problem.totalDistinctUsers }} / {{ problem.totalAC }}</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
