<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg order-lg-first">
				<nav aria-label="breadcrumb">
					<ol class="nav nav-tabs border-0 flex-column flex-lg-row breadcrumb bg-white">
						<li class="breadcrumb-item"><a title="Home" href="{{ twg_func( 'base_url') }}">Elección de rol</a></li>
                        {% for bread in breadcrumb %}
							<li class="breadcrumb-item"><a title="{{ bread.title }}" href="{{ bread.url }}">{{ bread.title }}</a></li>
						{% endfor %}
						<li class="breadcrumb-item active" aria-current="page">{{ pageTitle }}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
